@import "tailwindcss";

@theme {
  --color-ocean-light: #020617;
  --color-ocean-dark: #000000;
  --font-sans: 'Syne', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    background-color: var(--color-ocean-light);
    color: white;
    overflow-x: hidden;
    font-family: var(--font-sans);
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
